
/*fundo aside*/
aside nav ul li {
    position: relative;
    /* display: block; */
    padding: .75rem 1.25rem;
    background-color: var(--bg-general) !important;
}
aside nav ul {
    list-style:none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.fundoaside {
    background-color: var(--bg-general);
    background-clip: border-box;
    border: 1px solid rgba(0,
    0,
    0,
    .125);
    border-radius: .25rem;
}