.btn-slider {
    background-color: var(--bg-primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff!important;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}


.btn-tel{
    background: $bg-btn-telefone !important;
    color: $text-btn-telefone !important;
    border-color: darken($bg-btn-telefone, 20%) !important;
}

.btn-tel:hover{
    background: darken($bg-btn-telefone, 10%) !important;
}

.btn-mpi{
    background: $bg-btn-cotar !important;
    color: $text-btn-cotar !important;
    border-color: darken($bg-btn-cotar, 20%) !important;
}

.btn-mpi:hover{
    background: darken($bg-btn-cotar, 10%) !important;
}



.btn-leia {
    content: "Leia Mais";
    height: 26px;
    background: transparent;
    width: 100px;
    color: #333;
    border-radius: .24rem;
    text-align: center;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    z-index: 999;
    left: 44%;
}

.btn-ocultar {
    height: 26px;
    background: transparent;
    width: 100px;
    color: #333;
    border-radius: .24rem;
    text-align: center;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    z-index: 999;
    left: 44%;
    display: none;
}


.btn-primary {
    background-color: var(--bg-primary) !important;
    border: 1px solid var(--bg-primary) !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    transition: all .2s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus {
    background-color: lighten($bg-primary, 12%) !important;
    border-color: lighten($bg-primary, 12%) !important;
    color: #ffffff !important;
    transition: all .2s;
}

.btn-soft-primary {
    background-color: rgba(47, 85, 212, 0.2) !important;
    border: 1px solid rgba(47, 85, 212, 0.2) !important;
    color: var(--bg-primary) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.btn-soft-primary:hover,
.btn-soft-primary:focus,
.btn-soft-primary:active,
.btn-soft-primary.active,
.btn-soft-primary.focus {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
    color: #ffffff !important;
}

.btn-outline-primary {
    border: 1px solid var(--bg-primary);
    color: var(--bg-primary);
    background-color: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.focus,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.btn-secondary {
    background-color: #5a6d90 !important;
    border: 1px solid #5a6d90 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
    box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus {
    background-color: #465571 !important;
    border-color: #465571 !important;
    color: #ffffff !important;
}

.btn-soft-secondary {
    background-color: rgba(90, 109, 144, 0.2) !important;
    border: 1px solid rgba(90, 109, 144, 0.2) !important;
    color: #5a6d90 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
    box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
}

.btn-soft-secondary:hover,
.btn-soft-secondary:focus,
.btn-soft-secondary:active,
.btn-soft-secondary.active,
.btn-soft-secondary.focus {
    background-color: #5a6d90 !important;
    border-color: #5a6d90 !important;
    color: #ffffff !important;
}

.btn-outline-secondary {
    border: 1px solid #5a6d90;
    color: #5a6d90;
    background-color: transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background-color: #5a6d90;
    border-color: #5a6d90;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
    box-shadow: 0 3px 5px 0 rgba(90, 109, 144, 0.3);
}

.btn-success {
    background-color: #0072ff !important;
    border: 1px solid #0072ff !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
    border-radius: 6px!important;
    box-shadow: 0 3px 5px 0 rgba(202, 132, 46, 0.3);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus {
    background-color: #25a06e !important;
    border-color: #25a06e !important;
    color: #ffffff !important;
}

.btn-soft-success {
    background-color: rgba(46, 202, 139, 0.2) !important;
    border: 1px solid rgba(46, 202, 139, 0.2) !important;
    color: #2eca8b !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
    box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
}

.btn-soft-success:hover,
.btn-soft-success:focus,
.btn-soft-success:active,
.btn-soft-success.active,
.btn-soft-success.focus {
    background-color: #2eca8b !important;
    border-color: #2eca8b !important;
    color: #ffffff !important;
}

.btn-outline-success {
    border: 1px solid #2eca8b;
    color: #2eca8b;
    background-color: transparent;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.focus,
.btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: #2eca8b;
    border-color: #2eca8b;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
    box-shadow: 0 3px 5px 0 rgba(46, 202, 139, 0.3);
}

.btn-warning {
    background-color: #f17425 !important;
    border: 1px solid #f17425 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
    box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus {
    background-color: #d55b0e !important;
    border-color: #d55b0e !important;
    color: #ffffff !important;
}

.btn-soft-warning {
    background-color: rgba(241, 116, 37, 0.2) !important;
    border: 1px solid rgba(241, 116, 37, 0.2) !important;
    color: #f17425 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
    box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
}

.btn-soft-warning:hover,
.btn-soft-warning:focus,
.btn-soft-warning:active,
.btn-soft-warning.active,
.btn-soft-warning.focus {
    background-color: #f17425 !important;
    border-color: #f17425 !important;
    color: #ffffff !important;
}

.btn-outline-warning {
    border: 1px solid #f17425;
    color: #f17425;
    background-color: transparent;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.focus,
.btn-outline-warning:not(:disabled):not(.disabled):active {
    background-color: #f17425;
    border-color: #f17425;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
    box-shadow: 0 3px 5px 0 rgba(241, 116, 37, 0.3);
}

.btn-info {
    background-color: #17a2b8 !important;
    border: 1px solid #17a2b8 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
    box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus {
    background-color: #117a8b !important;
    border-color: #117a8b !important;
    color: #ffffff !important;
}

.btn-soft-info {
    background-color: rgba(23, 162, 184, 0.2) !important;
    border: 1px solid rgba(23, 162, 184, 0.2) !important;
    color: #17a2b8 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
    box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
}

.btn-soft-info:hover,
.btn-soft-info:focus,
.btn-soft-info:active,
.btn-soft-info.active,
.btn-soft-info.focus {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
    color: #ffffff !important;
}

.btn-outline-info {
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background-color: transparent;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.focus,
.btn-outline-info:not(:disabled):not(.disabled):active {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
    box-shadow: 0 3px 5px 0 rgba(23, 162, 184, 0.3);
}

.btn-danger {
    background-color: #e43f52 !important;
    border: 1px solid #e43f52 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
    box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.focus {
    background-color: #d21e32 !important;
    border-color: #d21e32 !important;
    color: #ffffff !important;
}

.btn-soft-danger {
    background-color: rgba(228, 63, 82, 0.2) !important;
    border: 1px solid rgba(228, 63, 82, 0.2) !important;
    color: #e43f52 !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
    box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
}

.btn-soft-danger:hover,
.btn-soft-danger:focus,
.btn-soft-danger:active,
.btn-soft-danger.active,
.btn-soft-danger.focus {
    background-color: #e43f52 !important;
    border-color: #e43f52 !important;
    color: #ffffff !important;
}

.btn-outline-danger {
    border: 1px solid #e43f52;
    color: #e43f52;
    background-color: transparent;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.focus,
.btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color: #e43f52;
    border-color: #e43f52;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
    box-shadow: 0 3px 5px 0 rgba(228, 63, 82, 0.3);
}

.btn-dark {
    background-color: #3c4858 !important;
    border: 1px solid #3c4858 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus {
    background-color: #272f3a !important;
    border-color: #272f3a !important;
    color: #ffffff !important;
}

.btn-soft-dark {
    background-color: rgba(60, 72, 88, 0.2) !important;
    border: 1px solid rgba(60, 72, 88, 0.2) !important;
   color: var(--text-default) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}

.btn-soft-dark:hover,
.btn-soft-dark:focus,
.btn-soft-dark:active,
.btn-soft-dark.active,
.btn-soft-dark.focus {
    background-color: #3c4858 !important;
    border-color: #3c4858 !important;
    color: #ffffff !important;
}

.btn-outline-dark {
    border: 1px solid #3c4858;
   color: var(--text-default);
    background-color: transparent;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: #3c4858;
    border-color: #3c4858;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
    box-shadow: 0 3px 5px 0 rgba(60, 72, 88, 0.3);
}

.btn-muted {
    background-color: var(--bg-muted) !important;
    border: 1px solid #8492a6 !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
    box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
}

.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.active,
.btn-muted.focus {
    background-color: #68788f !important;
    border-color: #68788f !important;
    color: #ffffff !important;
}

.btn-soft-muted {
    background-color: rgba(132, 146, 166, 0.2) !important;
    border: 1px solid rgba(132, 146, 166, 0.2) !important;
    color: var(--text-muted) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
    box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
}

.btn-soft-muted:hover,
.btn-soft-muted:focus,
.btn-soft-muted:active,
.btn-soft-muted.active,
.btn-soft-muted.focus {
    background-color: var(--bg-muted) !important;
    border-color: var(--text-muted) !important;
    color: #ffffff !important;
}

.btn-outline-muted {
    border: 1px solid #8492a6;
    color: var(--text-muted);
    background-color: transparent;
}

.btn-outline-muted:hover,
.btn-outline-muted:focus,
.btn-outline-muted:active,
.btn-outline-muted.active,
.btn-outline-muted.focus,
.btn-outline-muted:not(:disabled):not(.disabled):active {
    background-color: var(--bg-muted);
    border-color: var(--text-muted);
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
    box-shadow: 0 3px 5px 0 rgba(132, 146, 166, 0.3);
}

.btn-light {
     background-color: var(--bg-secondary) !important;
    border: 1px solid #f8f9fc !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
    box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.focus {
    background-color: #d4daed !important;
    border-color: #d4daed !important;
    color: #ffffff !important;
}

.btn-soft-light {
    background-color: rgba(248, 249, 252, 0.2) !important;
    border: 1px solid rgba(248, 249, 252, 0.2) !important;
    color: var(--text-light) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
    box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
}

.btn-soft-light:hover,
.btn-soft-light:focus,
.btn-soft-light:active,
.btn-soft-light.active,
.btn-soft-light.focus {
     background-color: var(--bg-secondary) !important;
    border-color: #f8f9fc !important;
    color: #ffffff !important;
}

.btn-outline-light {
    border: 1px solid #f8f9fc;
    color: var(--text-light);
    background-color: transparent;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.focus,
.btn-outline-light:not(:disabled):not(.disabled):active {
     background-color: var(--bg-secondary);
    border-color: #f8f9fc;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
    box-shadow: 0 3px 5px 0 rgba(248, 249, 252, 0.3);
}

.btn-blue {
    background-color: var(--bg-primary) !important;
    border: 1px solid var(--bg-primary) !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.focus {
    background-color: #2443ac !important;
    border-color: #2443ac !important;
    color: #ffffff !important;
}

.btn-soft-blue {
    background-color: rgba(47, 85, 212, 0.2) !important;
    border: 1px solid rgba(47, 85, 212, 0.2) !important;
    color: var(--bg-primary) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.btn-soft-blue:hover,
.btn-soft-blue:focus,
.btn-soft-blue:active,
.btn-soft-blue.active,
.btn-soft-blue.focus {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
    color: #ffffff !important;
}

.btn-outline-blue {
    border: 1px solid var(--bg-primary);
    color: var(--bg-primary);
    background-color: transparent;
}

.btn-outline-blue:hover,
.btn-outline-blue:focus,
.btn-outline-blue:active,
.btn-outline-blue.active,
.btn-outline-blue.focus,
.btn-outline-blue:not(:disabled):not(.disabled):active {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
    box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}

.btn-footer {
     background-color: var(--bg-third) !important;
    border: 1px solid var(--bg-third) !important;
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
    box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
}

.btn-footer:hover,
.btn-footer:focus,
.btn-footer:active,
.btn-footer.active,
.btn-footer.focus {
    background-color: #0f131f !important;
    border-color: #0f131f !important;
    color: #ffffff !important;
}

.btn-soft-footer {
    background-color: rgba(32, 41, 66, 0.2) !important;
    border: 1px solid rgba(32, 41, 66, 0.2) !important;
    color: var(--bg-third) !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
    box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
}

.btn-soft-footer:hover,
.btn-soft-footer:focus,
.btn-soft-footer:active,
.btn-soft-footer.active,
.btn-soft-footer.focus {
     background-color: var(--bg-third) !important;
    border-color: var(--bg-third) !important;
    color: #ffffff !important;
}

.btn-outline-footer {
    border: 1px solid var(--bg-third);
    color: var(--bg-third);
    background-color: transparent;
}

.btn-outline-footer:hover,
.btn-outline-footer:focus,
.btn-outline-footer:active,
.btn-outline-footer.active,
.btn-outline-footer.focus,
.btn-outline-footer:not(:disabled):not(.disabled):active {
     background-color: var(--bg-third);
    border-color: var(--bg-third);
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
    box-shadow: 0 3px 5px 0 rgba(32, 41, 66, 0.3);
}

.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 6px;
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-sm {
    padding: 7px 16px;
    font-size: 10px;
}

.btn.btn-lg {
    padding: 14px 30px;
    font-size: 16px;
}

.btn.searchbtn {
    padding: 6px 20px;
}

.btn.btn-pills {
    border-radius: 30px;
}

.btn.btn-light {
   color: var(--text-default) !important;
    border: 1px solid #dee2e6 !important;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active,
.btn.btn-light.focus {
    background-color: #d4daed !important;
   color: var(--text-default) !important;
}

.btn.btn-soft-light {
    color: rgba(60, 72, 88, 0.5) !important;
    border: 1px solid #dee2e6 !important;
}

.btn.btn-soft-light:hover,
.btn.btn-soft-light:focus,
.btn.btn-soft-light:active,
.btn.btn-soft-light.active,
.btn.btn-soft-light.focus {
   color: var(--text-default) !important;
}

.btn.btn-outline-light {
    border: 1px solid #dee2e6 !important;
   color: var(--text-default) !important;
    background-color: transparent;
}

.btn.btn-outline-light:hover,
.btn.btn-outline-light:focus,
.btn.btn-outline-light:active,
.btn.btn-outline-light.active,
.btn.btn-outline-light.focus {
     background-color: var(--bg-secondary) !important;
}

.btn.btn-icon {
    height: 36px;
    width: 36px;
    line-height: 34px;
    padding: 0;
}

.btn.btn-icon .icons {
    height: 16px;
    width: 16px;
    font-size: 16px;
}

.btn.btn-icon.btn-lg {
    height: 48px;
    width: 48px;
    line-height: 46px;
}

.btn.btn-icon.btn-lg .icons {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.btn.btn-icon.btn-sm {
    height: 30px;
    width: 30px;
    line-height: 28px;
}

button:not(:disabled) {
    outline: none;
}